.header__container{
    padding-top: 24pt;
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav h3{
    color: #f1e8e8;
    font-size: 24px;
    font-weight: bold;
}

.nav__basket {
    position: relative;
    cursor: pointer;
}

.basket__radius {
    width: 20px;
    height: 20px;
    background: #d25353;
    border-radius: 100%;
    position: absolute;
    top: -3px;
    right: 7px;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
}

.nav__basket h3 {
    width: 60px;
}